    <script src="{{ site.url }}/assets/js/public/jqueryb146.js?v=77a7756db2"></script>

    
    <script src="{{ site.url }}/assets/js/vendor/fastclickb146.js?v=77a7756db2"></script>
    <script src="{{ site.url }}/assets/js/vendor/foundation.minb146.js?v=77a7756db2"></script>
    <script src="{{ site.url }}/assets/js/vendor/background-checkb146.js?v=77a7756db2"></script>
    <script src="{{ site.url }}/assets/js/vendor/post-header-animationsb146.js?v=77a7756db2"></script>
    <script src="{{ site.url }}/assets/js/summerb146.js?v=77a7756db2"></script>

{% if page.mathjax %}
<!-- Load MathJax -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({tex2jax: {inlineMath: [['$$','$$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
{% endif %}

{% if site.google_analytics %}
<!-- Google Analytics -->
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', '{{ site.google_analytics }}', 'auto');
ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<!-- End Google Analytics -->
{% endif %}
